@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", Arial, Verdana, sans-serif;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

dl,
ol,
p,
ul {
  margin: 0 0 .5em; }

ol,
ul {
  padding: 0; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5; }

em {
  color: #333; }

cite {
  color: #333; }
  cite:before {
    content: "\2014 \2009"; }

li {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5; }

strong {
  color: #30A9D0; }

blockquote {
  border-left: 5px solid #30A9D0;
  margin: 10px;
  padding: 10px;
  quotes: "“" "”" "‘" "’"; }
  blockquote p {
    display: inline-block; }
    blockquote p:before {
      font-size: 35px;
      font-size: 3.5rem;
      color: #ccc;
      content: open-quote;
      line-height: 0;
      margin-right: 5px;
      vertical-align: -15px; }
    blockquote p:after {
      font-size: 35px;
      font-size: 3.5rem;
      color: #ccc;
      content: close-quote;
      margin-left: 5px;
      vertical-align: -15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Arial, Verdana, sans-serif;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 34px;
  font-size: 3.4rem; }

h2 {
  font-size: 30px;
  font-size: 3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 22px;
  font-size: 2.2rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #414042; }

h6 {
  font-size: 14px;
  font-size: 1.4rem; }

a {
  color: #30A9D0;
  padding-bottom: 1px;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.line-grid {
  clear: both;
  padding-top: 50px; }
  .line-grid li {
    color: #00c9ed; }

button {
  font-size: 18px;
  font-size: 1.8rem;
  background-color: #30A9D0;
  border: 2px solid #30A9D0;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out; }
  @media only screen and (min-width: 68.75em) {
    button {
      background-color: transparent;
      border: 2px solid #30A9D0;
      color: #30A9D0; }
      button:hover {
        background-color: #30A9D0;
        color: #fff; } }

iframe {
  margin-top: 9px;
  vertical-align: top;
  width: 100%; }

img {
  height: auto;
  max-width: 100%;
  width: inherit;
  /* IEB */ }

form {
  overflow: hidden;
  transition: 1s;
  width: 450px; }
  form input {
    font-size: 16px;
    font-size: 1.6rem;
    border: 0;
    margin: 16px 0;
    padding: 20px 20px;
    width: 100%; }
  form span {
    border-bottom: 1px solid #333;
    display: block;
    margin: 30px 0; }

input[type="button"] {
  font-size: 18px;
  font-size: 1.8rem;
  background-color: red;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px 20px; }
  @media only screen and (min-width: 68.75em) {
    input[type="button"] {
      background-color: transparent;
      border: 2px solid red;
      color: red; }
      input[type="button"]:hover {
        background-color: red;
        color: red; } }

input[type="reset"] {
  font-size: 18px;
  font-size: 1.8rem;
  background-color: red;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px 20px; }
  @media only screen and (min-width: 68.75em) {
    input[type="reset"] {
      background-color: transparent;
      border: 2px solid red;
      color: red; }
      input[type="reset"]:hover {
        background-color: red;
        color: red; } }

input[type="submit"] {
  font-size: 18px;
  font-size: 1.8rem;
  background-color: red;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px 20px; }
  @media only screen and (min-width: 68.75em) {
    input[type="submit"] {
      background-color: transparent;
      border: 2px solid red;
      color: red; }
      input[type="submit"]:hover {
        background-color: red;
        color: red; } }

aside {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  aside:last-child {
    margin-right: 0; }
  aside .most-popular {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    aside .most-popular:last-child {
      margin-right: 0; }
  aside .subscription {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    aside .subscription:last-child {
      margin-right: 0; }

header {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }
  header h1,
  header h2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    header h1:last-child,
    header h2:last-child {
      margin-right: 0; }
  header form {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    header form:last-child {
      margin-right: 0; }
  header time {
    display: block;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    header time:last-child {
      margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }
  footer h5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    footer h5:last-child {
      margin-right: 0; }

.social-media {
  float: right; }
  .social-media li {
    display: inline-block; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content section {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .content section:last-child {
      margin-right: 0; }
  .content .more-news {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .content .more-news:last-child {
      margin-right: 0; }

.menu {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .menu:last-child {
    margin-right: 0; }
  .menu li {
    display: block;
    text-align: center; }
    @media only screen and (min-width: 56.25em) {
      .menu li {
        display: inline-block; } }

@media only screen and (min-width: 56.25em) {
  .mobile-menu {
    display: none; } }

.hide-menu {
  display: none; }
  @media only screen and (min-width: 56.25em) {
    .hide-menu {
      display: block; } }

.news {
  margin: 5% 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }

header {
  background-color: #D78A16;
  color: #fff;
  padding: 2%; }
  header a {
    color: #fff; }
  header .menu li {
    border: solid 2px #fff;
    margin: 1.5% 10%;
    padding: 1%; }
    @media only screen and (min-width: 56.25em) {
      header .menu li {
        margin: 20px; } }
  header .mobile-menu {
    text-decoration: underline;
    cursor: pointer; }
  header time {
    font-size: 16px;
    font-size: 1.6rem; }

.social-media {
  list-style: none;
  margin: 0;
  padding: 0; }
  .social-media li {
    border: 1px solid #fff;
    display: inline-block;
    padding: 15px;
    margin-left: 5px; }

footer {
  color: #fff;
  background-color: #D78A16;
  padding: 2%; }
  footer a {
    color: #fff; }
  footer .menu li {
    font-size: 16px;
    font-size: 1.6rem;
    border: solid 2px #fff;
    margin: 10px;
    padding: 1%;
    display: inline-block; }

.content {
  padding: 5%; }
  .content h3 {
    margin: 10px 0; }
  .content p {
    font-size: 16px;
    font-size: 1.6rem; }

.most-popular {
  list-style: none; }

.main-news > a,
.news > a {
  font-size: 16px;
  font-size: 1.6rem; }

.more-news li {
  list-style: none; }

.title {
  color: #D78A16;
  border-bottom: 1px solid; }

section {
  padding: 5% 0; }

aside {
  box-shadow: 0 0 4px #D78A16;
  padding: 5%;
  text-align: center; }
  aside h4 {
    margin: 2%;
    color: #D78A16; }
  aside .most-popular {
    box-shadow: 0 0 4px #D78A16; }
    aside .most-popular li {
      padding: 2%; }
  aside .subscription {
    box-shadow: 0 0 4px #D78A16; }
    aside .subscription .email {
      text-align: center; }
    aside .subscription .subscribe-btn {
      margin-bottom: 5%;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */