body {
    @include font-size(14);
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $default-font;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}
