// Aside section
aside {
  @include span-columns(12);

  .most-popular {
    @include span-columns(12);
  }

  .subscription {
    @include span-columns(12);
  }
}

// Header and footer sections
header {
  @include span-columns(12);
    
  h1,
  h2 {
    @include span-columns(4);
    @include omega();
  }
  
  form {
    @include span-columns(6);
  }

  time {
    display: block;
    @include span-columns(12);
  }

}

footer {
  @include span-columns(12);
    
  h5 {
    @include span-columns(4);
    @include omega();
  }
}

.social-media {
  float: right;

  li {
    display: inline-block;
  }
}

// Content section.
.content {
  @include outer-container;
  clear: both;

  section {
    @include span-columns(12);
  }

  .more-news {
    @include span-columns(12);

  }
}

// Menu/Nav section.
.menu {
  @include span-columns(6);

  li {
    display: block;
    text-align: center;

    @include mquery("medium") {
      display: inline-block;
    }

  }
}

.mobile-menu {
  @include mquery("medium") {
    display: none;
  }
}

.hide-menu {
  display: none;
  @include mquery("medium") {
    display: block;
  }
}


// News display format.
.news {
  margin: 5% 0;
}

footer {
  @include span-columns(12);
}
