//
// Buttons
//
button {
    @include button($main-color, $main-color, $white); //$color-border-type, $color-hover-type, $color-hover-background
    transition: all 0.2s ease-in-out;
}

button a {
	color: $white;

	@include mquery("medium") {
    color: inherit;
  }
}