//
// Variables
//

// Typography
@import url(https://fonts.googleapis.com/css?family=Lato),
url(https://fonts.googleapis.com/css?family=Raleway);

$contrast-font:"Lato", Arial, Verdana, sans-serif; //Typography for titles
$default-font: "Raleway", Arial, Verdana, sans-serif; //Typography for body

// Colors
$main-color: #30A9D0;
$dark-gray: #414042;
$gray: #333;
$orange: #D78A16;
$white: #fff;


// Neat variables
$grid-colums: 12;
$max-width: 1200px;

// Breakpoints
// TL;DR, ems don't depend on the physical device size, whereas pixels do.
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/#relative
$site-breakpoints: (
    "base": "20em", //320px
    "small": "37.5em", //600px
    "medium": "56.25em", //900px
    "large": "68.75em", //1100px
    "x-large": "87.5em", //1400px
);
