// Home styles
.content {
  padding: 5%;

  h3 {
    margin: 10px 0;
  }

  p {
    @include font-size(16);
  }
}

.most-popular {
  list-style: none; 
}

.main-news > a,
.news > a {
  @include font-size(16);
}

.more-news {
  li {
    list-style: none;
  }
}

.title {
  color: $orange;
  border-bottom: 1px solid;
}

section {
  padding: 5% 0;
}